.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  height: 100vh;
  background-color: #737687;
}

.info-container>img {
  border: 5px solid #FFF7D6;
  width: 300px;
  height: 400px;
}

h3,
p {
  margin: 0;
  text-align: center;
}

.description {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: larger;
  color: #FFF7D6;
}

.description>h3 {
  font-size: 2em;
}

.description>p {
  font-size: 1em;
}