.project-info>h1 {
  margin-top: 70px;
}

.project-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.project-info>p {
  width: 40%;
  font-weight: bold;
}

.button-container {
  background-color: #A6ABBD;
}

.button-container>button>a {
  background-color: none;
}

.project-info>img {
  max-width: 600px;
  height: 400px;
}