.project-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: none;
  margin-top: 50px;
}

h3 {
  color: black;
}

body {
  background-color: #737687;
}