.background-container {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3em;
}

h3 {
  margin: 5px;
  color: #FFF7D6;
}

.background-container> h3:last-child {
  padding-bottom: 270px;
}

