nav {
  /* position: fixed; */
  top: 0;
  z-index: 50;
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 2px solid #FFF7D6;
}
li {
  list-style: none;
}

.ul-container {
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: space-around;
  gap: 30px;
  margin-top: 20px;
  margin-right: 20px;
}

.ul-container>li>a {
  color: #FFF7D6;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.5em;
  
}

.home-link {
  margin-top: 20px;
  margin-left: 20px;
}

.home-link>a {
  text-decoration: none;
  color: #FFF7D6;
  font-weight: bold;
  font-size: 2em;
}