nav {
  position: sticky;
  width: 100%;
  top: 0;
}
li {
  list-style: none;
}
.link-container {
  display: flex;
  justify-content: space-between;
  background-color: #012C5A;
}

.ul-container {
  display: flex;
  padding-right: 10px;
  gap: 20px;
  background-color: #012C5A;
  margin-right: 10px;
}

.ul-container>li>a {
  color: #FFF7D6;
  font-weight: bold;
  background-color: #012C5A;
  text-decoration: none;
  font-size: 1.2em;

}

.home-link {
  margin-top: 16px;
  padding-left: 10px;
  background-color: #012C5A;
}

.home-link>a {
  text-decoration: none;
  color: #FFF7D6;
  font-weight: bold;
  font-size: 1.2em;
}