/* .project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #737687;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container>a {
  background-color: white;
}

.image-container>img {
  width: 400px;
  height: 370px;
}

ul {
  margin: 0;
  padding-left: 0;
} */

a {
  display: flex;
  width: 20%;
  flex-direction: column;
}