.image-container>h3 {
  color: orange;
}

.image-container>img {
  width: 500px;
  height: 300px;
}

.project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}